*{
    border: none;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px 10px;
}

.left-container{
    display: flex;
    gap: 20px;
}

.middle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.search{
    border: 1px solid #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}
#search-icon{
    background-color: #222222;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
    padding-left: 10px;
    color: #F1F1F1;
}

.search-icon{
    margin-left: 10px;
}
input{
    padding: 15px;
    width: 400px;
    color: #F1F1F1;
}
input:active{
    border-color: black;
}

button, .mic{
    cursor: pointer;
}

.voice, #mic{
    background-color: #222222;
    border-radius: 50px;
    padding: 3px;
}

.right-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#signin{
    background-color: #222222;
    padding: 10px;
}

section{
    display: flex;
    gap: 150px;
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 10px;
    gap: 15px;
}

span{
    cursor: pointer;
}
span:hover{
    transform: scaleX(1.1) scaleY(1.1);
}

img{
    cursor: pointer;
}

#search-container{
    margin-top: 40px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
a{
    text-decoration: none;
}
.video-content{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}
.video-card:hover{
    transform: scaleX(1.1) scaleY(1.1);
}
.thumbnail{
    width: 300px;
}






